

.CantAAL{
    color: brown;
}

.columna{
    background-color: wheat;
    border-color: rgb(214, 87, 87);
    border-radius: 5px;
}

.Title{
    text-align: center;
    color: black;
}
.yearTitle{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 2.5px;
    padding-left: 5px;
}

.barGraphTitle{
    background-color: deepskyblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 2.5px;
    padding-left: 5px;
}

.btnGroup{
    margin-top: -17px;
    margin-bottom: -7px;
   text-align: center;
}

.customDivider{
    margin-bottom: 10px;
}

.noteBtn{
    width: 115px;
    padding: 50px;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
}
.yearBtn{
    width: 75px;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
}